@page "/index"
@attribute [Authorize]

@L["Welcome to your Prototype"].

<AuthorizeView>
    <Authorized>
        <p>@L["Welcome {0}", context.User.Identity.Name] </p>
        <img src="/img/LatisPro480x320.jpg" />
    </Authorized>
    <NotAuthorized>
        <Msg Txt="@L["Not Authorized"]" Cls="alert-danger"/>
    </NotAuthorized>
</AuthorizeView>



