@page "/index"

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity.Name </p>
        <image src="/img/Latis_Logo.svg"/>
        <img src="/img/LatisPro480x320.jpg"/>
    </Authorized>
    <NotAuthorized>
        <p>No está logeado.</p>
    </NotAuthorized>
</AuthorizeView>



